html,body{
	font-family:"Clear Sans","Helvetica Neue",Arial,sans-serif;
	background:#faf8ef;
}

#game{
position:relative;
overflow: hidden
float:left;
margin-left: auto;
margin-right: auto;
width:400px;
}

#query{
position:relative;
overflow: hidden;
margin-left: auto;
margin-right: auto;
width:600px;
}

#textbox1{
	height:200px;
	width:600px;
	rows:10;
}

#button{
	margin-left: auto;
	margin-right: auto;
	width:200px;
}

#loading{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width:200px;
}

.header{
	margin-left: auto;
	margin-right: auto;
	width:600px;
}